.card {
  max-inline-size: 450px;
  background-color: aliceblue;
  border-radius: 8px;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.35) 0px 0px 16px 1px;
}

.loading-skeleton {
  margin: auto;
  background-color: rgba(128, 128, 128, 0.384);
  animation: infinite loading-skeleton 0.5s;
}

@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
