footer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

footer div {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 4px;
  border-block-start: 1px solid rgba(0, 0, 0, 0.2);
}

footer div:not(:last-child) {
  border-inline-end: 1px solid rgba(0, 0, 0, 0.2);
}

footer div span {
  display: flex;
  gap: 4px;
  color: gray;
}

footer div span svg {
  color: gray;
}

footer div span:last-child {
  color: black;
}
