html {
  background-color: aliceblue;
}

:root {
  --gradient: linear-gradient(to top right, #ff3867, #ffc873, #d37ec6);
  --blue: #2d7cbf;
}

body {
  background-image: var(--gradient);
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  padding-inline: 16px;
  font-family: system-ui;
}
