main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-block-start: 50px;
}

main h1 {
  text-align: center;
  margin: 0;
}

main h1 span {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;
  align-items: center;
}

main button {
  inline-size: fit-content;
  margin: auto;
  border: 2px solid var(--blue);
  border-radius: 24px;
  background-color: transparent;
  cursor: pointer;
}

main button a {
  padding: 8px 24px;
  display: flex;
  font-weight: bold;
  color: var(--blue);
  text-decoration: none;
}

main .name {
  inline-size: 220px;
  block-size: 36.5px;
}

main .city {
  inline-size: 100px;
  block-size: 16.5px;
}

main p {
  line-height: 1.5;
}
